body{
    margin: 0px;
    padding: 0px;
}

.profile{
    background-color: #060C1A;
}

.container{
    min-height: 700px;
}

.pro-pic{
    border-radius: 50%;
}

.profile .row{
    margin-left: 50px;
}

.hello,h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.btn-resume{
    font-family: 'Open Sans', sans-serif;
}

.projects,.about{
    /* background-color: #0C1833; */
    background-color: 	#06161a;
}

.projects h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

/* .btn2{
    background-color:black;
    color:white ;
} */

.mypic{
    max-height: 100px;
    border-radius: 50%;
}

.laptop{
    float: right;
}

.op{
    float: left;
}

/* .about{
    background-image:url("./assets/law.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.about-img{
    max-height: 200px;
}

.parabout{
    max-width: 60%;
}

.about1{
    max-width: 60%;
    align-self: flex-end;
    margin-left: auto;
}

.goal-div{
    align-self: center;
    max-width:50%;
    margin: auto;
}

.about-me{
    padding-top: 30px;
}

.about1,.about2,.about3{
    padding-top: 50px;
}

footer{
    background-color: #0a061a;
    max-height:100px;
}

.reach{
    text-align: center;
    max-width: 60%;
    margin: auto;
}

