body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family:'Playfair Display', serif !important ;
    /* background-image: url("./assets/Vector\ 2.png");
    background-size:contain;
    background-position: center;
    background-repeat:round; */
    /* opacity: 0;
    animation: pattern-anim 2s ease forwards; */
    /* background-attachment:fixed; */

    
    /* background-color: #060C1A; */
}
        /* Define the container for the fading background image */
        .pattern {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -9; /* Place behind other content */
            overflow: hidden;
        }

        /* Define the background image and fading animation */
        .front-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -8; 
            background-image: url("./assets/Vector\ 2.png");
            background-size: cover;
            /* background-repeat: round ; */
            /* background-position: center; */
            opacity: 0; /* Initially set opacity to 0 */
            animation: fadeIn 2s ease forwards; /* Apply fadeIn animation */
        }
/* .pattern{
    height: 100%;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.background{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color: #0a061a;
    background-image: url("./assets/Vector\ 2.png");
    background-size:contain;
    background-repeat:round;
    background-attachment:fixed;
    transition: 3s;
    animation: pattern-anim 3s ease forwards;
    animation-name: pattern-anim;
    animation-direction:normal;
    animation-play-state: running;
    animation-timing-function:ease;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
} */

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    /* 20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8; 
    }*/
    to{
        opacity: 1;
    }
}
@keyframes pro-anim {
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes protxt-anim {
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



/* .profile{
    background-image: url("./assets/Vector\ 2.png");
    background-size:contain;
    background-repeat:round;
    background-attachment:fixed;
    background-color: #060C1A;
} */

.container{
    min-height: 700px;
}

.pro-pic{
    border-radius: 50%;
    animation-name: pro-anim;
    animation-direction:normal;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.pro-txt{
    animation-name: protxt-anim;
    animation-direction:normal;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.profile .row{
    margin-left: 50px;
}

@media (max-width: 540px){
    .profile .row,.profile .container{
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .container,.row,.img-div{
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .op{
        margin-left: 0px !important;
    }

    .goal-div, .reach{
        max-width: 100% !important;
        margin: 0px;
    }
}
/* .card{
    overflow:hidden;
} */
.about-img{
    border-radius: 5px;
}

.hello,h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.btn-resume{
    font-family: 'Open Sans', sans-serif;
}

.projects,.about{
    /* background-color: #0C1833; */
    /* background-color: 	#06161a; */
    background: rgba(6, 12, 26, 0.9);
}

.projects h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

/* .btn2{
    background-color:black;
    color:white ;
} */

.mypic{
    max-width: 100px;
    border-radius: 50%;
}

.laptop{
    float: right;
}

.op{
    float: left;
}

/* .about{
    background-image:url("./assets/law.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.about-img{
    max-width: 200px;
}

.parabout2{
    max-width: 60%;
    min-width: 100%;
}

.about1{
    align-self: flex-end;
    margin-left: auto;
}

.goal-div{
    align-self: center;
    max-width:50%;
    margin: auto;
}

.about-me{
    padding-top: 30px;
    font-family:'Playfair Display', serif;
}
.lead{
    font-family:'Playfair Display', serif;
}
.about1,.about2,.about3{
    padding-top: 50px;
    max-width: 60%;
    font-family:'Playfair Display', serif !important ;
}

footer{
    background-color: #0a061a;
    max-height:100px;
}

.reach{
    text-align: center;
    max-width: 60%;
    margin: auto;
}
.col img{
    background-size:50%;
}
.background{
    height: 250px !important;
    background-size: cover;
}
