body{
    margin-left: 20px;
    /* float: left; */
    font-family:cursive;
    background-color: white;
    width: 90%;
}

.darkmode{
    background-color: #111111;
}

.head{
    background-color: rgb(15, 9, 100);
    padding: 30px 40px;
    text-align: center;
}

.left{
    float: left;
    width: 50%;
}

/* .head::after{
    content: "";   ----not sure what???
    display: table;
    clear: both; 
}
*/

.head2{
    color: rgb(221, 19, 120);
    cursor: default;
}

.search{
    border-radius: 30px;
    border: none;
    box-shadow: 4px 4px 10px rgb(55, 231, 39);
    height: 30px;
    width: 15em;
    font-size: 1em;
    font-family: cursive;
}

.search::placeholder{
    text-align: center;
}

.list{
    background-color: rgb(127, 118, 168);
}

ul{
    padding-left: 0px;
    font-family: cursive;
    cursor: default;
}

ul li{
    padding: 5px;
    cursor: default;
    position: relative;
    transition: 0.5s;
}

/* li::marker{
    height: 20px;  EDIT LATER
} */

ul li:nth-child(odd){
    background-color: rgb(214, 153, 171);
}

ul li:hover{
    background-color: purple;
}

ul li.crossed{
    text-decoration: line-through;
}

/* ul li.crossed::before{
    content: '';  ----CHECK THIS
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    right: 20px;
    transform: rotate(45deg);
    height: 15px;
    width:7px;
} */

#create{
    border-radius: 30px;
    border: none;
    box-shadow: 4px 4px 10px rgb(40, 28,207);
    height: 30px;
    width: 15em;
    font-size: 1em;
    font-family: cursive;
    padding-bottom: 0px;
    
}

.add{
   margin-left:10px ;  /*remember the other method....also halim used -margin in previous edit*/
   border-radius: 30px;
   border: none;
   box-shadow: 4px 4px 10px rgb(28, 207, 37);
   background-color:rgb(84, 223, 95);
   font-size: 1em;
   font-family: cursive;
   height: 30px;
   width: 90px;
}

.add:hover{
    background-color:blueviolet;
    box-shadow: 4px 4px 10px blueviolet;
}

.close{      /*created in jscript*/
    position: absolute;
    right: 0px;   
    top: 0px;
    padding: 5px 10px 5px 0px;
}

.close:hover{
    cursor: pointer;
}

.switch{
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 10px;
    border: 1px solid black;
    border-radius: 34px;
    margin-top: 7px;
}

.right{
    float: right;
}

/*for checked toggle btn*/
/* .switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 2s;
}

.slider::before{
    position: absolute;
    content: "";
    height:9px;
    width: 9px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    border-radius: 34px;
}

input:checked + .slider{
    background-color: #2196f3;
    border-radius: 34px;
}

input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}

input + .slider{
    border-radius: 34px;
}

.slider .round{
    border-radius: 34px;
}

.slider .round::before{
    border-radius: 34px;
} */

#txt{
    font-size: 12px;
}

.container{
    position: absolute;
    left: 92%;
    top: 14px;
}

.toggler{
    width: 30px;
    height: 11px;
    background: gray;
    border-radius: 30px;
    padding-top:1px;
    padding-bottom: 1px;
}

.toggler .innercircle{
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 50%;
    margin-left: 1px;
    margin-top: 1px;
}

.active{
    background:#00acee;
}

.active .innercircle{
    margin-left: 20px;
}

.light{
    color: rgb(195, 202, 233);
}